html, body{
  padding:0px;
  height:100%;
  width:100%;
  margin:0px;
}
*{font-family:'Roboto', sans-serif;}
#mcm_wrap{
  margin-left:auto;
  margin-right:auto;
  width:800px;
  height:550px;
  margin-top:50px;
  border:1px solid #003d4c;
  overflow:hidden;
}
#mcm_content_area{
  height:100%;
  background-color:rgba(255,255,255, 0.7);
}
#mcm_title{
  color:#222c37;
}
  #mcm_wrap input{
    padding:12px;
    border-radius:3px;
    border:1px solid #8889be;
    color:#10137c;
    font-family: 'Roboto', sans-serif;
    display:block;
    width:55%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
  }
    #mcm_loginbutton{
      width:70%;
      height:40px;
      text-align:center;
      background-color:#003d4c;
      color:#8889be !important;
      text-transform:uppercase;
      font-size:16px;
      cursor:pointer;
    }
    #mcm_forgotpasswrap{
      width:106px;
      margin-left:auto;
      margin-right:auto;
      margin-top:45px;
    }
    #mcm_forgotpass{
      color:#8889be;
      font-family: 'Roboto', sans-serif;
      font-size:28px;
      padding-top:15px;
      text-decoration:underline;
      text-align:center;
      cursor:pointer;
    }
    #account_status{
      margin-left:38px;
    }
    #account_status img{
      margin-left:56px;
      width:350px;
      margin-top:30px;
    }
      #mcm_forgotpass:hover{
        color:white;
        transition:color 0.2s ease;
      }
  #mcm_topcarrier{
    height:90px;
    width:100%;
    background-color:rgba(0, 61, 76, 0.8);
  }
  #mcm_logo{
    width:156px;
    margin-left:15px;
    margin-top:15px;
  }
  #mcm_language{
    float:right;
    width:30px;
    margin-top:20px;
    margin-right:30px;
    cursor:pointer;
  }
  #mcm_goback{
    margin-bottom:-10px;
    margin-left:5px;
    margin-top:5px;
    cursor:pointer;
    width:30px;
  }
  #mcm_language img{
    border: 1px solid #8889be;
    padding: 5px;
    border-radius: 2px;
  }
  .mcm_flag-dk, #mcm_forgot_carrier{display:none;}
#mcm_title{
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
#mcm_form_carrier{
  width:40%;
  height:100%;
  background-color:#d0d3d4;
  float:left;
}
#mcm_news_carrier{
  width:60%;
  float:right;
  height:100%;
}
  #mcm_news_inner{
    width:90%;
    height:67%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:scroll;
  }
    #mcm_newstext{
      width:70%;
      border-bottom:1px solid #ccc;
      margin-left:auto;
      margin-right:auto;
      font-family: 'Roboto', sans-serif;
      font-size:14px;
    }
    /* Login Page End */
    #menuwrap{
      background-color:white;
      width:518px;
      height:60px;
      float:right;
    }
    #topmenu ul, #topmenu li{
      display:inline-block;
      list-style-type:none;
    }
    #topmenu a{
      text-decoration:none;
      color:#222c37;
    }
    #topmenu ul{
      float:right;
      margin-top: 5px;
      padding-left: 0px;
      margin-left: 0px;
      margin-right: 35px;
    }
    #topmenu li{
      cursor:pointer;
      padding:15px;
      font-family: 'Roboto', sans-serif;
    }
    #topmenu li:hover{
      background-color:#eee;
      transition: all 0.5s ease;
    }
    #topmenu li:active{
      background-color:#ccc;
      transition: all 0.5s ease;
    }
    #loginbutton{
      float:right;
      background-color:#ffb515;
      font-size:14px;
      padding:8px 19px 9px;
      border-bottom:1px solid rgba(0,0,0,0.25);
      margin-right:2em;
      font-weight:bold;
      line-height:1;
      text-decoration:none;
      text-shadow:0 -1px 1px rgba(0,0,0,0.25);
      border-radius:4px;
      margin-top:14px;
      margin-right:50px;
    }
    #loginbutton a{
      text-decoration:none;
      color:white;
    }
    #logocontainer{
      margin-left:140px;
      margin-top:180px;
      float:left;
    }
    #top_container{
      width:100%;
      height:95%;
      background-image:url('../img/background.jpg');
      background-size:cover;
    }
    #actnow{
      width:100%;
      height:52px;
      background-color:#003d4c;
    }
    #centeractnow{
      width:450px;
      margin-left:auto;
      margin-right:auto;
      font-family:'Roboto', sans-serif;
    }
    #centeractnow p{
      color:white;
      padding-top:17px;
      margin:0px;
      display:inline-block;
    }
    #centeractnow a{
      display:inline-block;
      margin-top:9px;
    }
    #infoboxes{
      width:1034px;
      height:414px;
      margin-left:auto;
      margin-right:auto;
      margin-top:50px;
      font-family:'Roboto', sans-serif;
      color:#222c37;
    }
    .infobox a{
      color:#222c37;
    }
    .infobox a:hover{
      color:white;
      transition: all 0.5s ease;
    }
    #infoboxes h1{
      text-align:center;
    }
    #infoboxes img{
      width:90px;
      margin-left:100px;
      margin-top:30px;
    }
    #infoboxes p{
      margin:30px;
    }
    #currentcustomers{
      width:100%;
      background-color:#003d4c;
      height:190px;
    }
    #currentcustomers h1{
      color:white;
      font-family:'Roboto', sans-serif;
      margin-left:20px;
      padding-top:20px;
      padding-bottom:10px;
    }
    #currentcustomers img{
      display:inline-block;
      height:55px;
      margin-left:44px;
      cursor:pointer;
    }
    .infobox{
      width:300px;
      margin-left:20px;
      margin-right:20px;
      display:inline-block;
      height:400px;
      background-color:#eaedef;
    }
    #news h1{
      margin-top:60px;
      color:#222c37;
      font-family:'Roboto',sans-serif;
      text-align:center;
    }
    #news{
      width:1030px;
      margin-left:auto;
      margin-right:auto;
    }
    .newsbox{
      width:300px;
      height:200px;
      display:inline-block;
      margin:0px 20px 0px 20px;
    }
    .newsbox p{
      font-family:'Roboto', sans-serif;
      text-align:center;
      color:#222c37;
      font-size:18px;
    }
    #footer{
      width:100%;
      height:200px;
      background-color:#003d4c;
      margin-top:60px;
    }
    #award{
      width:150px;
      float:right;
      margin-top:40px;
      margin-right:30px;
    }
    #award img{
      width:150px;
    }
    .copyright{
      color:white;
      font-family:'Roboto', sans-serif;
      padding-top:10px;
      padding-left:10px;
    }
    #reactwrap{
      width:300px;
      height:50px;
      margin-top:470px;
      float:left;
      margin-left:-350px;
    }
    #reactwrap h2{
      color:#222c37;
      font-family:'Roboto', sans-serif;
    }
    #reactbtn{
      text-decoration:none;
      font-family:'Roboto', sans-serif;
      border:0;
      background:#222c37;
      color:#fff;
      box-shadow: 0 4px 0 0 #01252e;
      border-right:2px solid #01252e;
      padding:6px 15px;
      margin:5px;
      transition: background-color .2s ease;
      font-size:17px;
      line-height:1.33;
      border-radius:6px;
      display:inline-block;
      font-weight:normal;
      text-align:center;
      white-space:nowrap;
      vertical-align:middle;
      cursor:pointer;
    }
    #reactbtn:active{
      background-color:#01252e;
      box-shadow: 0 0 4px 0 #003d4c;
    }

.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 15px;
}
.package {
  box-sizing: border-box;
  width: 301px;
  height: 380px;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: left;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
  margin-right: 11px;
}
.package:hover {
  margin-top: -30px;
  -webkit-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
.name {
  color: #565656;
  font-weight: 300;
  font-size: 3rem;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
}
.price::after {
  font-weight: normal;
}
.wrapper hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
.trial {
  font-size: .9rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #003d4c;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -20px;
}
.wrapper ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
.wrapper li {
  margin-bottom: 15px;
}
.checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}
.wrapper li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  color: #003d4c;
  margin-right: 3px;
}
.brilliant {
  border-color: #003d4c;
}
/* Triangle */
.brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #003d4c transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}

/* Pricing Page */
#otherpagemenu{
  background-color:#003d4c;
  width:100%;
  height:57px;
}
.otherpage li{
  color:white !important;
}
.otherpage li:hover{
  background:none !important;
}
#mid_content h1, #mid_content h2{
  color:#222c37;
  text-align:center;
}
#mid_content h2{
  font-size:16px;
  margin-top:20px;
  margin-bottom:50px;
}

/* Control Panel */
#youare{
  background-color:#333;
  width:100%;
  height:30px;
}
#youare p, #youare span, #youare a{
  color:white;
  font-family:'Roboto', sans-serif;
  display:inline-block;
  font-size: 13px;
}
#youare a{
  text-decoration:none;
}
#youare p{
  margin: 0px;
  line-height: 2.3;
  margin-left: 7px;
}
.c_logout{
  color:#c80000 !important;
  cursor:pointer;
}
.c_logout:hover{
  color:white !important;
  transition:color 0.2s ease;
}
#workPos{
  text-decoration:underline;
}
#department{
  float:right;
  margin-right:10px !important;
}
#c_paneltop{
  background-color:#003d4c;
  height:100px;
  width:100%;
}
  #ourlogo img, #shoplogo img{
    width:150px;
  }
  #ourlogo{
    float:left;
    margin-left:50px;
    margin-top:20px;
  }
  #shoplogo{
    float:right;
    margin-right:50px;
    margin-top:20px;
  }
#c_menu li, #c_menu ul{
  display:inline-block;
  list-style-type:none;
}
#c_menu a{color:black;
  transition:color 0.2s ease;
    margin-right:10px;
    border-bottom:1px solid #003d4c;
}
#c_menu a:hover{
  color:#003d4c;
}
#c_menu{
  width:100%;
  height:50px;
  background-color:#eee;
  border-bottom:4px solid #003d4c;
}
#c_box{
  width:1000px;
  height:700px;
  margin-left:auto;
  margin-right:auto;
  background-color:#eee;
  border-bottom:4px solid #003d4c;
}
#user_info{
  width:50%;
  float:left;
}
#user_info li, #user_info ul{
  list-style-type:none;
}
#user_info li{
  margin:10px;
}
#user_info ul{
  margin-top:50px;
}
#user_info i{
  cursor:pointer;
}
#c_box h1, #c_box h2, #c_box p{
  text-align:center;
  color:#222c37;
}
.news_item{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}
#clockbox{
  color: white;
  line-height: 2.5;
  font-size: 10px;
  position: fixed;
  left: 46%;
  margin-top: -27px;
}
#actual_news{
  height:600px;
  width:500px;
  float:right;
  overflow:hidden;
  overflow-y:scroll;
}
#c_latest_updates{
  background-color:#003d4c;
  width:100%;
  height:89px;
  margin-top:50px;
  border-radius:5px 5px 0px 0px;
}
#c_latest_updates h1{
  color:white;
  padding:19px;
  font-size:20px;
  display:inline-block;
  margin-right:171px;
}
.c_name{
  float:left;
}
.c_updates{
  float:right;
}
/* Add Campaign */

.cf h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

#c_box form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
#c_box form, #c_box input,
#c_box form, #c_box textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 92%;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  resize: none;
}
#c_box form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
#c_box form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
#c_box form, #c_box textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
.numberappr{

  border-top:2px solid green;
  font-size:11px;
}
#wrapit{
  padding: 20px;
  padding:20px;
  overflow:hidden;
  overflow-y:scroll;
  height:571px;
}
.camp_wrap{
  -webkit-box-shadow: 0 8px 6px -6px #003d4c;
  -moz-box-shadow: 0 8px 6px -6px #003d4c;
  box-shadow: 0 8px 6px -6px #003d4c;
  margin-bottom:25px;
}
.title{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:18px;
  font-weight:700;
  max-width:250px;
  border-bottom:1px solid #ccc;
  padding: 5px;
  color:#003d4c;
}
.description{
  padding:10px;
  text-align:center;
}
.date{
  padding:10px;
  text-align:center;
}
#wrapit img{
  border-bottom:1px solid #ccc;
  width:300px;
}
.image{
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

.dropdown-list {
  position: relative;
  width: 96%;
  margin-top: 10px;
  margin-left: -19px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
